#!/bin/sh

# ~/.xprofile

# sourced at boot by ~/.xinitrc and display managers like lightdm

## MPD daemon start (if no other user instance exists)
[ ! -s ~/.config/mpd/pid ] && mpd

#=== add ~/bin to path
export PATH=$PATH:$HOME/.local/bin/:/usr/local/bin

#===== these taken from archlabs ====
## keyring and polkit daemons
##/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
##gnome-keyring-daemon --start --components=pkcs11 &

# super alone simulates Alt-F1
ksuperkey -e 'Super_L=Alt_L|F1' &
ksuperkey -e 'Super_R=Alt_L|F1' &

## dpms: timeout sleep off
##xset dpms 600 900 1200

#====================================


##xscreensaver -nosplash &
##lightson+ &
##lightsOn2.sh &
##xset dpms 0 0 
##sleep 45; xset dpms 0 0 900 &
##thunar --daemon &

#=== kunst exports
export KUNST_SIZE="250x250"
export KUNST_POSITION="+0+0"
export KUNST_MUSIC_DIR="/home/ron/Music/"

#=== trty this for i3
#eval $(dbus-launch --sh-syntax)
#export XDG_CURRENT_DESKTOP=GNOME

GTK_MODULES="$GTK_MODULES:canberra-gtk-module"
export GTK_MODULES

if [ ! -w ${XDG_RUNTIME_DIR:="/run/user/$UID"} ]; then
    echo "\$XDG_RUNTIME_DIR ($XDG_RUNTIME_DIR) not writable. Unsetting." >&2
    unset XDG_RUNTIME_DIR
else
    export XDG_RUNTIME_DIR
fi

#pipewire &
#pipewire-pulse &